@import url(./font.css);
@import url(./reset.css);

body {
  background: #fff;
}

.header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1200px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  display: flex;
}

.header-text {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.header-btn {
  height: 32px;
  padding: 6px 16px;
  gap: 10px;
  border-radius: 50px;
  background: var(--Dark-Blue-Light-Blue-9, #2b50ed);
  color: var(--Gray-Gray-1, #fff);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: end;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  color: var(--Dark-Blue-Light-Blue-11, #122264);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-top {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.promo-header {
  color: var(--Dark-Blue-Light-Blue-10, #1c349a);
  font-family: Open Sans;
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  max-width: 563px;
  margin-top: 69px;
}

span {
  color: var(--Light-Blue-Light-Blue-1, #2dc9fa);
  font-family: Open Sans;
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
}

.promo {
  background: url(../assets/img/Img.png);
  background-repeat: no-repeat;
  background-position: center;
}

.promo-text {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-top: 16px;
}

.promo .wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.promo-btn {
  color: var(--Gray-Gray-1, #fff);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 50px;
  background: var(--Dark-Blue-Light-Blue-9, #2b50ed);
  padding: 6px 20px;
  gap: 10px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.promo-text-item {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  max-width: 160px;
  margin-top: 20px;
}

.promo-list {
  display: flex;
  flex-direction: row;
  gap: 500px;
}

.promo-list-left {
  display: flex;
  gap: 40px;
}

.promo-list-img {
  position: relative;
  text-align: center;
}

.promo-star {
  width: 107px;
  height: 108px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: var(--Gray-Gray-1, #fff);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.centered-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: var(--Gray-Gray-1, #fff);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  width: 100%;
}

.promo-list-right {
  display: flex;
  flex-direction: column;
}

.promo-text-item-right {
  color: var(--Dark-Blue-Light-Blue-11, #122264);
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  max-width: 171px;
  margin-bottom: 69px;
}

.subheading {
  color: var(--Dark-Blue-Light-Blue-11, #122264);
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 34px;
  margin-top: 50px;
}

.uragan .wrapper {
  justify-content: center;
  flex-direction: column;
}

.line {
  width: 60px;
  height: 3px;
  background: var(--Dark-Blue-Light-Blue-9, #2b50ed);
  margin-top: 10px;
  margin-bottom: 24px;
}

.text-uragan {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  max-width: 920px;
  margin-bottom: 24px;
}

.uragan-promo {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.uragan-promo-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 24px;
}

.uragan-subheading {
  color: var(--Dark-Blue-Light-Blue-11, #122264);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.text-uragan-right {
  max-width: 538px;
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 24px;
}

.uragan-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 50px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--Gray-Gray-3, #f4f7f9);
  max-width: 538px;
  max-height: 196px;
}

.uragan-subheading-box {
  color: var(--Dark-Blue-Light-Blue-11, #122264);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: -20px;
}

.text-uragan-right-box {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  max-width: 438px;
}

.uragan-btn {
  color: var(--Gray-Gray-1, #fff);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 50px;
  background: var(--Dark-Blue-Light-Blue-9, #2b50ed);
  gap: 10px;
  display: flex;
  height: 40px;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
}

.uragan-auto .wrapper {
  justify-content: center;
  flex-direction: column;
}

.uragan-auto-promo {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  margin-bottom: 50px;
}

.uragan-auto-box {
  display: flex;
  flex-direction: column;
  padding: 24px 50px;
  align-items: start;
  gap: 24px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--Gray-Gray-3, #f4f7f9);
  max-width: 538px;
  max-height: 280px;
  margin-right: 24px;
}

.uragan-auto-subheading {
  color: var(--Dark-Blue-Light-Blue-11, #122264);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  max-width: 330px;
}

.uragan-auto-btn {
  color: var(--Gray-Gray-1, #fff);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 50px;
  background: var(--Dark-Blue-Light-Blue-9, #2b50ed);
  gap: 10px;
  display: flex;
  height: 40px;
  padding: 6px 16px;
  align-items: center;
}

.text-uragan-left {
  max-width: 538px;
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-top: 10px;
}

.water .wrapper {
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.water-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 48px;
  gap: 40px;
}

.water-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.water-list-text {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  text-align: center;
  max-width: 237px;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.water-promo {
  display: flex;
  flex-direction: row;
}

.water-promo-left {
  display: flex;
  padding: 24px 100px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  border-radius: 4px;
  background: var(--Dark-Blue-Light-Blue-10, #1c349a);
}

.water-promo-heading {
  color: var(--Gray-Gray-2, #f9fbfc);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.water-promo-text {
  color: var(--Gray-Gray-2, #f9fbfc);
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.water-promo-input {
  color: var(--Gray-Gray-7, #889098);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 50px;
  background: var(--Gray-Gray-1, #fff);
}

.water-promo-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

label {
  color: var(--Gray-Gray-1, #fff);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  max-width: 257px;
  margin-left: 4px;
}

.water-promo-btn {
  color: var(--Gray-Gray-1, #fff);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 50px;
  background: var(--Light-Blue-Light-Blue-2, #00b1fa);
  gap: 10px;
  display: flex;
  height: 40px;
  padding: 6px 16px;
  align-items: center;
}

.water-promo-right {
  display: flex;
  flex-direction: column;
  width: 538px;
  align-items: start;
  gap: 24px;
  padding: 24px 50px;
}

.water-subheading-right {
  color: var(--Dark-Blue-Light-Blue-11, #122264);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.water-text-right {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.warm .wrapper {
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.warm-subheading {
  color: var(--Dark-Blue-Light-Blue-11, #122264);
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.conditions .wrapper {
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.conditions-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.conditions-list-subheading {
  color: black;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  max-width: 203px;
}

.conditions-list-subheading-white {
  color: var(--Gray-Gray-1, #fff);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  max-width: 160px;
}

.conditions-list-text {
  max-width: 183px;
  color: var(--Dark-Blue-Light-Blue-11, #122264);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.conditions-list-item {
  width: 260px;
  height: 197px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  position: relative;
  padding: 24px 18px;
  max-width: 260px;
}

.conditions-list-item::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  opacity: 0.8;
  background: #fff;
  position: absolute;
  z-index: -1;
}

.conditions-list-item:nth-child(even) {
  justify-content: start;
}

.conditions-list-item.light-blue::after {
  background: var(--Light-Blue-Light-Blue-2, #00b1fa);
}

.conditions-list-item.dark-blue::after {
  background: var(--Dark-Blue-Light-Blue-8, #3966f4);
}

.conditions-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* -1 это на фон перенести */
}

/* --------------------------------------- */

.about .wrapper {
  flex-direction: column;
  margin-bottom: 50px;
}

.box {
  display: flex;
  padding: 30px 35px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid var(--Gray-Gray-4, #dfe6ea);
  background: var(--Gray-gray-1, #fff);
  flex-direction: row;
  width: 100%;
}

.swiper {
  width: 100%;
  padding-left: 50px;
  max-width: 1200px;
}

.swiper-slide {
  width: 100%;
  max-width: 480px;
  /* display: flex;
  flex-direction: row;
  gap: 24px; */
}

.swiper-box-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-box-left-img {
  border-radius: 50px;
  border: 1px solid var(--Gray-Gray-4, #dfe6ea);
  background: var(--Gray-gray-1, #fff);
}

.swiper-button-prev {
  color: #e32966;
}
.swiper-button-next {
  color: #e32966;
}

.swiper-box-text {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.swiper-text {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}

.appointment {
  background: var(--Gray-Gray-3, #f4f7f9);
}

.appointment .wrapper {
  margin-top: 48px;
  flex-direction: column;
  max-width: 804px;
}

.appointment-subheading {
  color: var(--Dark-Blue-Light-Blue-11, #122264);
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 34px;
  margin-bottom: 10px;
  margin-top: 48px;
}

.appointment-main {
  display: flex;
  max-width: 804px;
}

.appointment-main-left {
  display: flex;
  flex-direction: column;
}

.appointment-subheading-left {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  background-image: url(../assets/icons/Check.png);
  background-repeat: no-repeat;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  max-width: 441px;
  margin-bottom: 12px;
  padding-left: 36px;
}

.appointment-line {
  height: 1px;
  opacity: 0.05;
  background: var(--Dark-Blue-Light-Blue-12, #0c1641);
  margin-top: 6px;
  margin-bottom: 18px;
}

.appointment-buttons-left {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-right: 24px;
}

.appointment-img {
  width: 329px;
  height: 253px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  margin-left: 24px;
}

.appointment-line-long {
  height: 1px;
  align-self: stretch;
  opacity: 0.05;
  background: var(--Dark-Blue-Light-Blue-12, #0c1641);
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 804px;
}

.appointment-form {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  margin-bottom: 74px;
}

.appointment-form-text {
  color: var(--Dark-Blue-Light-Blue-12, #0c1641);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  max-width: 178px;
}

.appointment-promo-input {
  border-radius: 50px;
  background: var(--Gray-Gray-1, #fff);
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  width: 100%;
  max-width: 223px;
}

.appointment-promo-btn {
  max-width: 154px;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--Dark-Blue-Light-Blue-9, #2b50ed);
  color: var(--Gray-Gray-1, #fff);
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 21px;
}

footer {
  background: var(--Gray-Gray-10, #1f2530);
  padding: 30px 50px 48px 50px;
}

.footer .wrapper {
  flex-direction: row;
  align-items: start;
}

.logo-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.logo-footer-subheading {
  color: #fafafa;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-footer-text {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 170px;
}

.footer-text-shadow {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer-line {
  width: 40px;
  height: 2px;
  background: var(--Dark-Blue-Light-Blue-7, #4b7ef8);
  margin-top: 8px;
  margin-bottom: 24px;
}

.footer-text {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
