@import url(../styles/reset.css);
@import url(../styles/font.css);

body {
  background: #f1f1f1;
}

header {
  width: 100%;
  margin-top: 30px;
}

.wrapper {
  max-width: 1170px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-phone {
  color: #666;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 40px;
  margin-right: auto;
}

.logo-link {
  display: flex;
  align-items: center;
}

.login-menu {
  color: #c93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 160px;
  background-image: url(../assets/icons/tab.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-bottom {
  margin-top: 30px;
}

.nav-bottom {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background: #fff;
  padding: 27px 45px;
}

.nav-link {
  color: #666;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 45px;
}

.btn-menu-link {
  display: inline-flex;
  padding: 13px 20px;
  align-items: flex-start;
  margin-left: 35px;
  border-radius: 10px;
  border: 1px solid #c93;
  color: #c93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subheading {
  color: #333;
  font-family: Muller;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.promo-main {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.main .wrapper {
  flex-direction: column;
  align-items: start;
}

.promo-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.promo-card {
  border-radius: 15px;
  position: relative;
  padding: 40px 45px;
}

.promo-card::after {
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(48, 64, 89, 0.84) -2.9%,
    rgba(53, 65, 83, 0) 65.7%
  );
  z-index: -1;
}

.promo-card-large {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.promo-list-card-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.promo-card-heading {
  max-width: 420px;
  color: #fff;
  font-family: Muller;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.promo-card-heading-fat {
  font-size: 60px;
  max-width: 420px;
}

.promo-card-text {
  color: #fff;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.btn-main {
  color: #f0bf5f;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 47px;
  background-image: url(../assets/icons/>.svg);
  background-repeat: no-repeat;
  padding-right: 32px;
  background-position: right;
  display: inline-block;
}

.promo-text-about {
  max-width: 888px;
  width: 100%;
  flex-shrink: 0;
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 32px */
  margin-top: 20px;
  margin-bottom: 47px;
}

.btn-service {
  color: #c93;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%; /* 40px */
  display: flex;
  align-items: center;
  gap: 6px;
}

.service-card-text {
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 32px */
  max-width: 402px;
}

.service-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.service-card {
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 573px;
  background: #fff;
}

.service-card-body {
  padding: 26px 45px;
  display: flex;
  flex-direction: column;
}

.advantage-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 22px;
}

.advantage-card {
  width: 100%;
  max-width: 276px;
  padding: 40px 45px;
  border-radius: 15px;
  background: #fff;
}

.advantage-card-text {
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 32px */
  max-width: 189px;
  width: 100%;
  margin-top: 10px;
}

.accommodation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
  margin-bottom: 70px;
}

.accommodation-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-price {
  color: #999;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-price-value {
  color: #000;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-price-type {
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accommodation-card {
  max-width: 374px;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  background: #fff;
}

.accommodation-card-body {
  padding: 32px 45px;
}

.accommodation-text {
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
}

.accommodation-text-body {
  color: #999;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 20px;
}

.accommodation-btn {
  color: #c93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  padding: 13px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #c93;
  cursor: pointer;
  transition: 0.3s;
}

.accommodation-btn:hover {
  background: #c93;
  color: #fff;
}

.accommodation-card-big {
  border-radius: 15px;
  max-width: 374px;
  width: 100%;
  background-image: url(../assets/img/accommodation-9.png);
  background-repeat: no-repeat;
  padding-top: 373px;
}

.accommodation-big-btn {
  color: #fff;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%; /* 40px */
  margin-left: 54px;
}

.accommodation-big-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.contact-card {
  border-radius: 15px;
  background: #fff;
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/img/BG_Lagoona.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 93%;
}

.contact-card-left {
  max-width: 472px;
}

.contact-adress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 45px;
  gap: 47px;
  width: 100%;
}

.contact-heading {
  color: #000;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 98px;
}

.contact-text {
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  max-width: 229px;
}

.line {
  background: #e9e9e9;
  width: 375px;
  height: 1px;
  flex-shrink: 0;
}

.contact-text-phone {
  color: #c93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.shadow-text {
  color: #999;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.left-footer {
  display: flex;
  flex-direction: column;
}

.footer-text {
  color: #fff;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%; /* 30.4px */
  max-width: 302px;
  margin-bottom: 37px;
}

.footer-y-text {
  color: #c93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-top: 3px;
}

.footer .wrapper {
  padding: 45px;
  border-radius: 15px;
  background: #333;
  margin-top: 40px;
  margin-bottom: 35px;
  flex-direction: row;
  background-image: url(../assets/img/Footer.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 88%;
  background-position-y: 100%;
}

.footer-text-mid {
  max-width: 359px;
  color: #fff;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  margin-bottom: 15px;
}

.footer-y-text-mid {
  color: #c93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-bottom: 15px;
}

.end-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tour .wrapper {
  border-radius: 15px;
  background: #e9e9e9;
  padding: 45px;
}

.btn-tour {
  color: #c93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  padding: 13px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #c93;
  background-color: transparent;
}

.tour-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  background: #fff;
  height: 106px;
  padding: 31px 28px;
  display: flex;
}

.tour-form-heading {
  color: #000;
  font-family: Muller;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.tour-form-select {
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: transparent;
  width: 169px;
}

.subheading-small {
  margin-left: 0;
  margin-top: 0;
}

option {
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tour-form-input {
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e9e9e9;
}

.tour-form-input-small {
  max-width: 96px;
}
